@charset "utf-8";
/* CSS Document */

.history-shopping
{
    float:right;
}


.cart-info {
}

.cart-item-table{
    width:100%;
}
table td {
    width: 1px;
    padding: 7px;
}

table thead td {
    color: black;
    font-weight: 700;
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDD;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    background: rgba(210,200,200,0.3);
}

    table input {
        width: 35px;
        border-radius: 5px;
        text-align: center;
    }

    table img {
        cursor: pointer;
    }

#erroMess-cart {
    Color: red;
    font-size: 16px;
}

.cart-total {
    float: right;
    width: 100%;
    margin-bottom: 20px;
}

#total-text {
    float: right;
    font-weight: 700;
    margin-right: 20px;
}

#cost-text {
    float: right;
}

#text-right {
    text-align: right;
}

#text-left {
    text-align: left;
}

.pay-btn {
    -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color: #f24537;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    float: right;
    clear: both;
}

    .pay-btn:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
        background: -moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background: -webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background: -o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
        background-color: #c62d1f;
    }

    .pay-btn:active {
        position: relative;
        top: 1px;
    }

.order-info {
    padding: 1px 20px;
    background: rgba(228,228,228,0.35);
}

.confirmOrder {
    padding: 1px 20px;
    background: rgba(228,228,228,0.35);
    width:100%;
}


    .confirmOrder h4 {
        color: darkorange;
    }

.user-info-order {
    width: 50%;
    border: 1px solid;
    border-color: #eeeeee;
    float: left;
    height: 180px;
        margin-bottom:20px;
}

.receiver-info-order {
    width: 50%;
    border: 1px solid;
    float: right;
    height: 180px;
     margin-bottom:20px;
}

.info-field > label {
    font-weight: normal !important;
    padding-left: 5px;
    word-wrap: break-word;      /* IE 5.5-7 */
      white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
      white-space: pre-wrap;    
}

.order-field
{
    margin-top: 30px;
}

.height-100
{
    height: 100%;
}