
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10 alert-info">
        <h4>Vui lòng kiểm tra Hộp thư đến, Email xác nhận đã được gửi tới @ViewBag.Email</h4>
    </div>
</div>



